/* make all elements a bit smaller */
body {
  zoom: 90%;
}

/* hide text from board view drop-down button */
.js-board-views-btn-container > div > button > span:nth-child(2) {
  display: none;
}

/* hide all header dividers */
.board-header-btn-divider {
  display: none;
}

/* hide text from workspace drop-down button */
.board-header-btn-org-name > .board-header-btn-text {
  display: none;
}

/* hide text from board visibility drop-down button */
.board-header-btn.perms-btn > .board-header-btn-text {
  display: none;
}

/* hide text from board menu button */
.board-header-btn.mod-show-menu > .board-header-btn-text {
  display: none;
}

/* hide "Add List" button to prevent horizontal scrolling */
#board > .js-add-list {
  display: none;
}

/* hide all card badges */
.js-card-details > .badges > .js-badges,
.js-card-details > .badges > .js-plugin-badges {
  display: none;
}

/* display custom fields line by line */
.custom-field-front-badges .badge {
  display: block;
}
